<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&family=Handjet&family=Inter:wght@200&family=Roboto:wght@100&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Chef Dashboard</title>
</head>
<body>
    <div class="main">
        <div class="top-nav">
            <a href="/chef_dash"><img src="/../static/img/aprons_on_LOGO.png" alt="no img" class="logo"></a>
            <div class="profile-nav">
                <!-- ************ ONLY HERE TO BE DISPLAYED. PENDING: DROPDOWN MENU ************* -->
                <a href="/chef_logout" class="dd-menu-link"><p>Logout</p><span>></span></a>
                <a href="/desserts/new" class="dd-menu-link"><p>Post a Dessert</p><span>></span></a>
                <a href="/chef/edit/{{chef.id}}" class="dd-menu-link"><p>Edit Profile</p><span>></span></a>
                <!-- **************************************************************************** -->
                <img src="/../static/img/user-circle.png" alt="img" class="profile-pic">
                <div class="dd-menu-wrap">
                    <div class="dd-menu">
                        <div class="loggedin_chef">
                            <img src="/../static/img/user-circle.png" alt="img" class="profile-pic">
                            <h3>{{chef.first_name}} {{chef.last_name}}</h3>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="profile-background">
            <div class="left-container">
                <div class="chef-card">
                    <div class="profile-info">
                        <img src="/../static/img/user-circle.png" alt="" class="main-pic">
                        <h4>{{chef.first_name}} {{chef.last_name}}</h4>
                    </div>
                    <div class="chef-info">
                        <div class="info-row">
                            <img src="/../static/img/chef-hat.png" alt="chef_hat_img" class="info-icons">
                            <p>Professional Chef</p>
                        </div>
                        <div class="info-row">
                            <img src="/../static/img/knife.png" alt="fork/knife_img" class="info-icons">
                            <p>{{chef.freelance}}</p>
                        </div>
                        <div class="info-row">
                            <img src="/../static/img/email.png" alt="email_img" class="info-icons">
                            <p>{{chef.email}}</p>
                        </div>
                    </div>
                </div>
                <div class="side-wall">
                    <div class="wall-top">
                        <h2>Your Desserts</h2>
                        <a href="/desserts/{{chef.id}}/view_all">View All Desserts</a>
                    </div>
                    <div class="side-list">
                        {% for dessert in desserts %}
                        <div class="side-list-container">
                            <a href="desserts/view/{{dessert.id}}" ><img src="/../static/img/cake.png" alt="dessert_pic"></a>
                            <p>{{dessert.dessert_name}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div class="side-wall">
                    <div class="wall-top">
                        <h2>Followers</h2>
                        <a href="/chef/{{chef.id}}/followers">View All Followers</a>
                    </div>
                    <div class="side-list">
                        {% for follower in followers %}
                        <div class="side-list-container">
                            <img src="/../static/img/user-circle.png" alt="img" class="profile-pic">
                            <p>{{follower.username}}</p>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="right-container">
                <div class="requestwall-container">
                    <div class="wall-top">
                        <h2>Request Wall</h2>
                    </div>
                    <div class="wall-content">
                        <div class="request">
                            {% for request in requests %}
                            <h4>User: {{request.owner.username}}</h4>
                            <div class="description-box">
                                <p style="font-weight: bolder; font-size: 18px;">Dessert Name:   <span style="font-weight: 400; color:rgb(0, 129, 96)">{{request.request_name}}</span></p>
                                <p style="font-weight: bolder; font-size: 18px;">Description: <br/>
                                <span style="font-weight: 400; color:rgb(0, 129, 96)">{{request.request_description}}</span> </p>
                            </div>
                            <a href="/requests/remove/{{request.id}}" class="request-btn">Take Request</a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>