<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&family=Handjet&family=Inter:wght@200&family=Roboto:wght@100&family=Varela+Round&display=swap" rel="stylesheet">

    <title>Display Dessert</title>
</head>
<body>
    <div class="main">
        <div class="top-nav">
            <a href="/chef_dash"><img src="/../static/img/aprons_on_LOGO.png" alt="no img" class="logo"></a>
            <div class="profile-nav">
                <!-- ************ ONLY HERE TO BE DISPLAYED. PENDING: DROPDOWN MENU ************* -->
                <a href="/chef_logout" class="dd-menu-link"><p>Logout</p><span>></span></a>
                <!-- **************************************************************************** -->
                <img src="/../static/img/user-circle.png" alt="img" class="profile-pic">
                <div class="dd-menu-wrap">
                    <div class="dd-menu">
                        <div class="loggedin_chef">
                            <img src="/../static/img/user-circle.png" alt="img" class="profile-pic">
                            <h3>{{dessert.owner.first_name}} {{dessert.owner.last_name}}</h3>
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="background">
            <div class="display-one-container">
                <div class="display-top">
                    <img src="/../static/img/cake.png" alt="dessert_pic">
                    <h2>{{dessert.dessert_name}} Recipe</h2>
                    <a href="/desserts/view_all/{{dessert.owner.id}}"><h3>Made By: {{dessert.owner.first_name}} {{dessert.owner.last_name}}</h3></a>
                    {% if session['chef_id'] != dessert.owner.id %}
                        <form method="POST" action="/add_favorites/{{dessert.id}}">
                            <button type="submit" class="submit-btn">Add to Favorites</button>
                        </form>
                        <form method="POST" action="/follow_chef/{{dessert.owner.id}}">
                            <button type="submit" class="follow-btn">Follow Chef</button>
                        </form>
                        {% endif %}
                </div>
                <div class="display-one-bottom">
                    <div class="recipe">
                        <div class="recipe-box">
                            <h3>Ingredients: </h3>
                            <p>{{dessert.ingredients}}</p>
                        </div>
                        <div class="recipe-box">
                            <h3>Instructions: </h3>
                            <p>{{dessert.instructions}}</p>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="actions">
                {% if session['chef_id'] == dessert.owner.id %}
                    <a href="/desserts/edit/{{dessert.id}}" class="submit-btn"> Edit</a>
                    <a href="/desserts/delete/{{dessert.id}}" class="remove-btn">Delete</a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>