<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Barlow:wght@200;400&family=Handjet&family=Inter:wght@200&family=Roboto:wght@100&family=Varela+Round&display=swap" rel="stylesheet">
    <title>Display Favorites</title>
</head>
<body>
    <div class="main">
        <div class="top-nav">
            <a href="/user_dash"><img src="/../static/img/aprons_on_LOGO.png" alt="no img" class="logo"></a>
            <div class="profile-nav">
                <!-- ************ ONLY HERE TO BE DISPLAYED. PENDING: DROPDOWN MENU ************* -->
                <a href="/user_logout" class="dd-menu-link"><p>Logout</p><span>></span></a>
                <a href="/desserts/new" class="dd-menu-link"><p>Post a Dessert</p><span>></span></a>
                <a href="/user/edit/{{user.id}}" class="dd-menu-link"><p>Edit Profile</p><span>></span></a>
                <!-- **************************************************************************** -->
                <img src="/../static/img/user-circle.png" alt="img" class="profile-pic">
                <div class="dd-menu-wrap">
                    <div class="dd-menu">
                        <div class="loggedin_chef">
                            <img src="/../static/img/user-circle.png" alt="img" class="profile-pic">
                        </div>
                        <hr>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-title">
            <h1>You are following</h1>
            <div class="display-all">
                <div class="followers-container">
                    {% for chef in chefs %}
                    <div class="follower-info">
                        <img src="/../static/img/user-circle.png" style="width: 125px;" alt="user_pic">
                        <h4>{{chef.first_name}} {{chef.last_name}}</h4>
                        <a href="/chefs/remove/{{chef.id}}" class="remove-btn">Remove</a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</body>
</html>